// Input

.form-control {
  background-color: color(canvas);
  border-radius: 0;
  border: 1px solid color(brand, primary);
  color: color(grey, air);

  &:focus {
    background-color: color(canvas);
    border-color: color(brand, secondary);
    color: color(grey, air);
  }
}

// Form input

.form-input {
  input {
    border-radius: 0%;
    border: 1px solid color(brand, secondary);
    padding: 12px 0.75rem;
  }

  &__balance-element {
    &-balance {
      color: color(brand, secondary);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
