html,
body {
  background-color: color(canvas);
  color: color(grey, air) !important;
  /* background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 200vh; */

  font-size: rem(15);

  @include media-breakpoint-down(md) {
    background-size: 100vh;
  }
}

.main-content {
  min-height: calc(100vh - 132px);
  z-index: 999;
  position: relative;
}

.main-logo {
  &-container {
    height: 150vh;
    width: 150vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.format-container {
  max-height: 50vh;
  overflow-y: scroll;
}
