html,
body {
  background-color: color(canvas);
  color: color(grey, air) !important;
}

.main-content,
.main-row {
  min-height: calc(100vh - 132px);
}

.main-content {
  background-image: url(public/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 150vh;
}
