// Btn

.custom-btn {
  @extend %handjet;
  border-radius: 0;
  padding: 12px 40px;
  text-transform: uppercase;
  background-color: color(canvas) !important;
  border-color: color(brand, pink);
  color: color(brand, pink);
  @include spaced(5px);

  &:disabled,
  &:hover {
    background-color: color(brand, pink);
    color: color(canvas);
  }
}
