// Btn

.custom-btn {
  @extend %handjet;
  @include spaced(5px);
  border-radius: 0;
  padding: 12px 40px;
  text-transform: uppercase;
  background-color: color(canvas) !important;
  border-color: color(brand, primary);
  color: color(brand, primary);
  @include spaced(5px);

  &__active,
  &:disabled,
  &:hover {
    background-color: color(brand, primary) !important;
    color: color(canvas) !important;
  }
}
