// Icon

.icon {
  &-spin {
    animation: rotate 1.5s linear infinite;
    fill: color(brand, primary);
    width: 100%;
    height: 100%;
    top: 50%;
    top: 1rem;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
