.navbar {
  @extend %handjet;
  height: 75px;
  font-size: rem(15);
  background-color: color(brand, rich-black) !important;

  &-brand {
    @extend %handjet;
    background: linear-gradient(
      to right,
      color(brand, green),
      color(brand, pink)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: rem(40);
    @include spaced(5px);

    &:hover {
      background: linear-gradient(
        to left,
        color(brand, green),
        color(brand, pink)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all $transition-slow;
    }
  }

  .navbar__wallet-info {
    color: color(grey, air) !important;

    .icon {
      fill: white;
      height: 15px;
      width: 15px;
      margin-bottom: 3px;
    }
  }
}
