// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %handjet;
  @include spaced(5px);
}

a {
  @extend %sharetech;
  color: color(brand, secondary) !important;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: color(brand, primary) !important;
  }
}
