// Fonts

%handjet {
  font-family: $base-font-stack-handjet;
  font-style: normal;
  font-weight: 400;
}

%sharetech {
  font-family: $base-font-stack-sharetech;
  font-style: normal;
  font-weight: 400;
}
